/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;1,300&display=swap');
@import 'https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap';

$font-family: "Noto Sans", sans-serif;
$font-family-monospace: "Source Code Pro";
$primary: #6B4E71 !default;

/*-- scss:rules --*/

.sidebar-title {
  color: white;
}

div.sidebar-item-container .active {
  font-weight: bold;
}

.sidebar nav[role=doc-toc] ul>li>a.active, .sidebar nav[role=doc-toc] ul>li>ul>li>a.active{
  font-weight: bold;
}

img.quarto-cover-image {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

/* Headings ------------------------------------------------------ */

h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
h3 { margin-top: 1.5em; font-size: 1.2rem; }
h4 { margin-top: 1.5em; font-size: 1.1rem; }
h5 { margin-top: 1.5em; font-size: 1rem; }

h1, h2, h3, h4, h5 {
  line-height: 1.3;
}

.quarto-section-identifier {
  color: #6C6C6C;
  font-weight: normal;
}

/* Printing ------------------------------------------------ */

@media print {
  :root {
    font-size: 11pt;
  }
  #quarto-sidebar, #TOC, .nav-page {
    display: none;
  }
  .page-columns .content {
    grid-column-start: page-start;
  }
  .fixed-top {
    position: relative;
  }
  .panel-caption, .figure-caption, figcaption {
    color: #666;
  }
}

/* OpenIntro custom environments --------------------------- */



/* guidedpractice */

.ejercicio {
  padding: 1em 1em 1em 4em;
  margin-top: 30px;
  margin-bottom: 30px;
  background: #f8f8f8 5px center/3em no-repeat;  
  border-top: 1px solid #6B4E71;    /* openintro::COL[1,1] */ 
  border-bottom: 1px solid #6B4E71; /* openintro::COL[1,1] */ 
  background-image: url("./images/_icons/pencil-solid.svg");
  background-position: 1.5em 1.5em;
  background-size: 30px 30px;
}

.ejercicio:before {
  content: "Ejercicio";
  clear: right;
  display: block;
  font-weight: bold;
  font-variant: small-caps;
  color: #6B4E71;
}

/* workedexample */

.ejemplo{
  padding: 1em 1em 1em 4em;
  margin-top: 30px;
  margin-bottom: 30px;
  background: #f8f8f8 5px center/3em no-repeat; 
  border-top: 1px solid #6B4E71;    /* openintro::COL[1,1] */ 
  border-bottom: 1px solid #6B4E71; /* openintro::COL[1,1] */ 
  background-image: url("images/_icons/file-lines-regular.svg");
  background-position: 1.5em 1.5em;
  background-size: 30px 30px;
}

.ejemplo:before {
  content: "Ejemplo";
  clear: right;
  display: block;
  font-weight: bold;
  font-variant: small-caps;
  color: #6B4E71;
}

/* important */

.importante {
  padding: 1em 1em 1em 4em;
  margin-top: 30px;
  margin-bottom: 30px;
  background: #f5f5f5 5px center/3em no-repeat;
  border-top: 1px solid #008080;   
  border-bottom: 1px solid #008080;  
  background-image: url("images/_icons/circle-exclamation-solid.svg");
  background-position: 1.5em 1.5em;
  background-size: 30px 30px;
}

.importante:before {
  content: "Importante";
  clear: right;
  display: block;
  font-weight: bold;
  font-variant: small-caps;
  color: #008080; 
}

/* tip */

.tip {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: #f5f5f5 5px center/3em no-repeat;
  border-top: 1px solid #008080;    /* openintro::COL[6,1] */ 
  border-bottom: 1px solid #008080; /* openintro::COL[6,1] */ 
  background-image: url("images/_icons/lightbulb-solid.svg");
  background-position: 1.5em 1.5em;
  background-size: 30px 30px;
}

.tip:before {
  content: "Consejo";
  clear: right;
  display: block;
  font-weight: bold;
  font-variant: small-caps;
  color: #008080; 
}

/* data - datasets in package */

.data { 
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  margin-top: 10px;
  background: #f5f5f5 5px center/3em no-repeat;
  border-top: 1px solid #D9D9D9;    /* openintro::COL[6,1] */ 
  border-bottom: 1px solid #D9D9D9; /* openintro::COL[6,1] */ 
  background-image: url("images/_icons/database-solid.svg");
  background-position: 1.5em 1.5em;
  background-size: 30px 30px;
}



/* tutorials */

.singletutorial {
  padding: 1em 1em 1em 4em;
  margin-bottom: 5px;
  margin-left: 30px;
  background: #ffffff 5px center/3em no-repeat;
//  background-image: url("images/_icons/singletutorial.png");
}

.alltutorials {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: #ffffff 5px center/3em no-repeat;
//  background-image: url("images/_icons/alltutorials.png");
}

/* labs */

.singlelab {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: #ffffff 5px center/3em no-repeat;
//  background-image: url("images/_icons/singlelab.png");
}

/* underconstruction - for chapters under construction */

.enconstruccion { 
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  font-weight: bold;
  background: #F3CED4 5px center/3em no-repeat; 
  border-top: 1px solid #F05133;    /* COL["red", "full"] */
  border-bottom: 1px solid #F05133; /* COL["red", "full"] */
  background-image: url("images/_icons/person-digging-solid.svg");
  background-position: 1.5em 1em;
  background-size: 40px 40px;
}

/* todo - REMOVE ALL BEFORE PRINT!!! */

.todo { 
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: #fffacd 5px center/3em no-repeat;
  border-top: 1px solid #f4dc00;    /* openintro::COL[6,1] */ 
  border-bottom: 1px solid #f4dc00; /* openintro::COL[6,1] */ 
//  background-image: url("images/_icons/person-digging-solid.svg");
  font-weight: bold;
}

.todo:before {
  content: "TO DO: ";
}

/* Counting exercises */

.exercises ol ol { 
  list-style-type: lower-alpha !important; 
}

.exercises ol ol ol { 
  list-style-type: lower-roman !important; 
}

.exercises strong {
  color: #6B4E71; /* openintro::COL[1,1] */ 
}

/* Counting exercise solutions - odd numbers only */

.exercises-solution ol {
  counter-reset: odd-numbers -1;
  list-style-type: none !important;
}
.exercises-solution li {
  counter-increment: odd-numbers 2;
}
.exercises-solution li:before {
  content: counter(odd-numbers) ". ";
}
.exercises-solution p {
  display: inline;
}

/* Other formatting */

p.caption {
  color: #777;
  margin-top: 10px;
  text-align: left;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
p.flushright {
  text-align: right;
}
blockquote > p:last-child {
  text-align: right;
}
blockquote > p:first-child {
  text-align: inherit;
}

/* Headings */

.header-section-number {
  padding-right: .2em;
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  color: #6B4E71; /* openintro::COL[1,1] */ 
}
h1.title {
  font-weight: 700;
}

.welcome h1 {
  border-bottom: 0px solid;
  border-top: 0px solid;
}

.welcome h2 {
  border-bottom: 0px solid;
  border-top: 0px solid;
}


/* Fonts */

.smallcaps {
  font-variant: small-caps;
}
.book .book-body .page-wrapper .page-inner section.normal strong {
  font-weight: 600;
}

/* moved this out of Chp 1 but not sure if it's being used anywhere */

.column-left{
  float: left;
  width: 49%;
  text-align: left;
}
.column-right{
  float: right;
  width: 49%;
  text-align: left;
}

/* authorinfo */

.authorinfo {
  padding: 0em 0em 0em 0em;
}

/* lightbox captions */

.gslide-description {
  font-size: 1.5em
}
